<h1 *ngIf="true">This is True.</h1>
<h1 *ngIf="false">This is False.</h1>

<h1 *ngIf="true" [ngClass]="isSpecial ? 'cls1' : 'cls2'">This is True using ngClass.</h1>

Enter Choice: <input type="text" [(ngModel)]="num"/>
<div [ngSwitch]="num">
  <div *ngSwitchCase="1"><h3>One is selected</h3></div>
  <div *ngSwitchCase="2"><h3>Two is Selected</h3></div>
  <div *ngSwitchDefault><h3>Default is None</h3></div>
</div>
<br>
<br>

Enter Tech: <input type="text" [(ngModel)]="str"/>
<div [ngSwitch]="str">
<div *ngSwitchCase="'Java'"><img src="" alt="Java-logo"/></div>
<div *ngSwitchCase="'Python'"><img src="" alt="Python-logo"/></div>
<div *ngSwitchCase="'MySQL'"><img src="" alt="MySQL-logo"/></div>
<div *ngSwitchDefault><h3>No Technology Available</h3></div>
</div>

<div *ngFor="let name of names;let j=index">Welcome {{name}} at index {{j}}</div>

<h2 [ngStyle]="{color: [textColor],background: [background]}">This is styled Text</h2>

<h1 ngNonBindable >This should be printed but it is marked as nonBindable {{names[2]}}</h1>